<div class="card">
    {{#if error}}
    <div class="alert alert-danger m-2">{{error}}</div>
    {{else}}
    {{/if }}
    {{#each errors}}
        <div class="alert alert-danger" style="padding: .5rem; margin: .5rem 1rem; max-width: 28rem;">{{ texto }}</div>
        {{else}}

    {{/each}}
    <div class="card-body">
        <h4>Entrar</h4>
        <form action="/usuario/login" method="post">
            <label for="email">Email</label>
            <input type="email" name="email" id="email" class="form-control" style="max-width: 16rem;">
            <label for="senha">Senha</label>
            <input type="password" name="senha" id="senha" class="form-control" style="max-width: 16rem;" >
            <button type="submit" class="btn btn-info text-light mt-5">Entrar</button>
        </form>
    </div>
</div>