<div style="display: flex; flex-direction:column; align-items:center;">
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRq1MgxGQS3kglwH8PIvJP3ABmHI1Kc6VT6Uw&usqp=CAU" style="width: 12%;">
    <h2>Deletado com sucesso!</h2>
    <a href="/"><button>OK</button></a>
</div>