<div style="justify-content:center;">
<form action="/add" method="post">
    <h1>Sistema de Postagem</h1>
    <label>Título</label>
    <input type="text" name="titulo"><br>
    <label>Conteúdo</label>
    <textarea name="conteudo" cols="15" rows="3" placeholder="Digite algo hoje..."></textarea>
    <button type="submit">POSTAR !</button>
</form>
</div>