{{#each erros}}
    <div class="alert alert-primary">{{ text }}</div>
    {{else }}
{{/each}}
<h2>Nova Categoria</h2>
<form action="/admin/categorias/nova" method="post">
  <div class="mb-3 input-group-sm w-25">
    <label for="nome" class="form-label">Nome categoria</label>
    <input type="text" class="form-control input-group-sm border-primary-subtle" id="nome" name="nome">
  </div>
  <div class="mb-3 input-group-sm w-25">
    <label for="slug" class="form-label">Slug</label>
    <input type="text" class="form-control input-group-sm border-primary-subtle" id="slug" name="slug" >
  </div>
  <button type="submit" class="btn btn-success">Cadastrar</button>
</form>